.title {
    text-align: center;
    color: var(--color-primary);
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 50px;
}

.title h2 {
    font-size: 18px;
    padding: 0 100px 0 100px;
    margin-top: 5px;
    text-transform: none;
    font-weight: normal;
}

.color-text {
    color: #000000;
}

.color-white {
    color: white !important;
}


@media (max-width: 748px) {
    .title h2 {
        font-size: 15px;
        padding: 0;
    }
}