.about{
    min-height: 50vh;
}

.about .grid{
    justify-items: center;
}

@media (max-width: 1024px) {
    .about{
        min-height: 60vh;
    }
}

@media (max-width: 748px) {
    .about{
        min-height: 80vh;
    }
}
