.detalhes {
    margin-top: 40px;
    height: 100vh;
}

.btn-voltar {
    display: flex;
    width: 100px;
}

.detalhes .button {
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-radius: 5px;
}

.title-detalhes {
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 400px;
    height: 40px;
    border-radius: 10px;
}

.container-info {
    width: 60%;
}

.col-detalhes{
    width: 95%;
}

.border-detalhes {
    width: 100%;
    border-width: 2px;
}

.header-detalhes strong {
    color: var(--color-primary);
}

.span-status {
    display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    padding: 2px;
    font-size: 15px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    height: 50%;
}

.span-desaparecido {
    background-color: rgb(216, 5, 5);
}

.span-encontrato {
    background-color: green;
}

.img-detalhe img {
    height: 350px;
}

.cartaz {
    width: 50%;
}

.swal2-title {
    color: var(--color-primary);
}

.swal2-actions {
    width: 100%;
    gap: 10px;
}

.swal2-actions button {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 1rem;
    padding-inline: 2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
    cursor: pointer;
}

.swal2-actions button:hover {
    transform: scale(1.05);
    border-color: #fff9;
}

.swal2-actions button:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.swal2-actions button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -100px;
    opacity: 0.6;
}

@keyframes shine {
    0% {
        left: -100px;
    }

    60% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}

.modal .info {
    width: 90%;
}

#campoFoto {
    padding: 0.75em;
}


@media (max-width: 768px) {
    .detalhes {
        height: 1300px;
    }

    .detalhes .info {
        padding: 0;
        flex-direction: column-reverse;
    }

    .detalhes .info .container-info {
        width: 100%;
    }

    .body-detalhes .span-status {
        width: 70%;
    }

    .img-detalhe img {
        height: 100%;
    }
}